{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": { "singleQuote": false }
    }
  ]
}
